<mat-progress-bar mode="indeterminate" class="loading-progress" *ngIf="isCategoriesLoading"></mat-progress-bar>

<mat-card-title>Categories</mat-card-title>
<mat-divider></mat-divider>
<mat-form-field class="full-width-input">
    <mat-label>Filter By</mat-label>
    <mat-select (selectionChange)="getCategories($event.value)">
        <mat-option value=""> All </mat-option>
        <mat-option value="Featured"> Featured </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> S. No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
            <img [src]="[element.path]" alt="category" style="width: 50px">
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button mat-button color="accent" class="add-contact m-l-10" (click)="openDialog()"
                matTooltip="Add Category" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
            <button mat-button color="primary" class="add-contact mat-elevation-z m-l-10"
                (click)="editViewCategory('view', element.id)" matTooltip="View Category" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    search</mat-icon>
            </button>
            <button mat-button color="accent" class="add-contact mat-elevation-z m-l-10"
                (click)="editViewCategory('edit', element.id)" matTooltip="Edit Category" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    edit</mat-icon>
            </button>
            <button mat-button color="warn" class="add-contact mat-elevation-z m-l-10"
                (click)="deleteCategory(element.id)" matTooltip="Delete Category" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>