<div class="full-background-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
                <mat-card-title class="m-b-15">
                    <span *ngIf="isResend">Resend Email</span>
                    <span *ngIf="!isResend">Forgot Password</span>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-form-field class="full-width-input m-t-30">
                    <input matInput type="email" placeholder="Email" formControlName="userEmail" autocomplete="false"
                        required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="isProcessing">Send Mail</button>
                <hr>
                <p>Member login
                    <a [routerLink]="['/Login']">Login</a>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>