<div class="container">
    <h3 mat-dialog-title *ngIf="action == 'add'">Add Product</h3>
    <h3 mat-dialog-title *ngIf="action == 'view'">View Product</h3>
    <h3 mat-dialog-title *ngIf="action == 'edit'">Edit Product</h3>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="addUpdateProductForm" (ngSubmit)="addUpdateProduct()" class="m-b-20">
            <mat-form-field class="full-width-input">
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="productCategory" required>
                    <mat-option [value]="category.id" *ngFor="let category of categories"> {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productCategory')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Name" formControlName="productName" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productName')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Price" formControlName="productPrice" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productPrice')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Discount" formControlName="productDiscount">
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productDiscount')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Selling Price" formControlName="productSellingPrice" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productSellingPrice')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Quantity" formControlName="productQuantity" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productQuantity')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Color" formControlName="productColor">
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productColor')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Product Description" formControlName="productDescription" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('productDescription')}}
            </mat-error>
            <div class="m-b-20" *ngIf="action == 'edit'">
                <p>Select multiple Images *</p>
                <input type="file" multiple accept="image/*" (change)="onFileSelect($event)" required>
            </div>
            <div fxLayout="row wrap" class="m-t-20 m-b-40" *ngIf="action != 'add'">
                <div *ngFor="let image of productRef.images;" fxFlex.gt-lg="25" fxFlex.gt-md="25" class="p-l-5 p-r-5 image-container"
                    fxFlex.gt-xs="25" fxFlex.gt-xs="25">
                    <img [src]="['//'+image.path]" fxFlex="100" style="width: 500px;">
                    <button mat-button color="warn" class="add-contact image-delete"
                        (click)="deleteProductImage(image.id)" *ngIf="action == 'edit'">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
                            aria-hidden="true">
                            clear</mat-icon>
                    </button>
                </div>
            </div>
            <mat-error>
                {{productError}}
            </mat-error>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="addUpdateProduct()" *ngIf="action == 'add'"
            [disabled]="isProcessing">Add
            Product</button>
        <button mat-button color="accent" (click)="addUpdateProduct()" *ngIf="action == 'edit'"
            [disabled]="isProcessing">Update
            Product</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" *ngIf="action != 'view'">Cancel</button>
    </div>
</div>