<div class="container">
    <h3 mat-dialog-title *ngIf="action == 'add'">Add Category</h3>
    <h3 mat-dialog-title *ngIf="action == 'view'">View Category</h3>
    <h3 mat-dialog-title *ngIf="action == 'edit'">Edit Category</h3>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="addUpdateCategoryForm" (ngSubmit)="addUpdateCategory()" class="m-b-20">
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Category Name" formControlName="categoryName" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('categoryName')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Category Type" formControlName="categoryType" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('categoryType')}}
            </mat-error>
            <div class="m-b-20" *ngIf="action == 'edit'">
                <p>Select multiple Images *</p>
                <input type="file" multiple accept="image/*" (change)="onFileSelect($event)" required>
            </div>
            <div fxLayout="row wrap" class="m-t-20 m-b-40" *ngIf="action != 'add'">
                <div *ngFor="let image of categoryRef.images;" fxFlex.gt-lg="25" fxFlex.gt-md="25" class="p-l-5 p-r-5 image-container"
                    fxFlex.gt-xs="25" fxFlex.gt-xs="25">
                    <img [src]="['//'+image.path]" fxFlex="100" style="width: 500px;">
                    <button mat-button color="warn" class="add-contact image-delete"
                        (click)="deleteCategoryImage(image.id)" *ngIf="action == 'edit'">
                        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
                            aria-hidden="true">
                            clear</mat-icon>
                    </button>
                </div>
            </div>
            <div class="m-b-20" *ngIf="action != 'add'">
                <mat-checkbox formControlName="isNavigation">Add to Navigation
                </mat-checkbox>
            </div>
            <div class="m-b-20" *ngIf="addUpdateCategoryForm.get('isNavigation').value && action == 'edit'">
                <p>Navigation Icon *</p>
                <input type="file" accept="image/*" (change)="onIconSelect($event)" required>
            </div>
            <mat-error>
                {{categoryError}}
            </mat-error>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="addUpdateCategory()" *ngIf="action == 'add'"
            [disabled]="isProcessing">Add
            Category</button>
        <button mat-button color="accent" (click)="addUpdateCategory()" *ngIf="action == 'edit'"
            [disabled]="isProcessing">Update
            Category</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" *ngIf="action != 'view'">Cancel</button>
    </div>
</div>