<div class="full-background-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-card-title class="m-b-15">Log In</mat-card-title>
                <mat-divider></mat-divider>
                <mat-form-field class="full-width-input m-t-30">
                    <input matInput type="email" placeholder="Email" formControlName="userEmail" autocomplete="false" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="userPassword"
                        required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="isProcessing">Login</button>
                <hr>
                <a [routerLink]="['/Forgot-Password']">Forgot Password</a>
            </form>
        </mat-card-content>
    </mat-card>
</div>