<div class="full-background-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
                <mat-card-title class="m-b-15">Set Password</mat-card-title>
                <mat-divider></mat-divider>
                <mat-error>
                    {{passwordError}}
                </mat-error>
                <mat-form-field class="full-width-input m-t-30">
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
                    <mat-error>
                        Please provide a valid Password
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                        required>
                    <mat-error>
                        Please provide a valid Password
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="isProcessing">Submit</button>
                <hr>
                <p>Member login
                    <a [routerLink]="['/Login']"><b>Login</b></a>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>