<div class="full-background-container">
    <div class="title-container">
        <h1>B-TECHNOLOGY !!!</h1>        
        <p class="return">Admin
            <a [routerLink]="['/Login']"> Login</a>
        </p>
    </div>
</div>