.error-container {
    text-align: center;
    height: 100%;
}
.error-container h1 {
    font-size: 220px;
}
.error-container h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.error-container h1 {
    margin: 0;
    font-size: 130px;
    font-weight: 300;
}
.return {
    position: absolute;
    width: 100%;
    bottom: 30px;
}
.return, .return a {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
}
.return a {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 600;
    color: #fff;
}