<div class="full-background-container">
    <div class="error-container">
        <h1>404</h1>
        <p class="return">Take me back to
            <a [routerLink]="['/']">Home</a>
        </p>
    </div>
</div>