<mat-progress-bar mode="indeterminate" class="loading-progress" *ngIf="isUsersLoading"></mat-progress-bar>

<mat-card-title>Users</mat-card-title>
<mat-divider></mat-divider>

<mat-form-field class="full-width-input">
    <mat-select (selectionChange)="getUsers($event.value)" [(value)]="selectedFilter">
        <mat-option value="seller"> Seller </mat-option>
        <mat-option value="buyer"> Buyer </mat-option>
        <mat-option value="admin"> Admin </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Search User (Title)</mat-label>
    <input matInput (keyup)="searchUser($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> S. No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fbId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Facebook </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fbId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="googleId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Google ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.googleId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'text-success': element.emailStatus == 'verified'}">
            {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="contactNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.roles.toString()}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="element.status" [ngClass]="{'text-success': element.status}"> Active </span>
            <span *ngIf="!element.status" [ngClass]="{'text-danger': !element.status}"> In-Active </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="20">
            Action
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" fxFlex="20">
            <!-- <button mat-button color="primary" class="add-contact mat-elevation-z m-l-10"
                (click)="editViewUser('view', element.id)" matTooltip="View User" matTooltipPosition="below">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    search</mat-icon>
            </button> -->
            <button mat-button color="warn" class="add-contact mat-elevation-z m-l-10"
                (click)="enableDisableUser('Disable', element.id)" matTooltip="Disable User" matTooltipPosition="below" *ngIf="element.status">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    person_remove</mat-icon>
            </button>
            <button mat-button color="primary" class="add-contact mat-elevation-z m-l-10"
                (click)="enableDisableUser('Enable', element.id)" matTooltip="Enable User" matTooltipPosition="below" *ngIf="!element.status">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    how_to_reg</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
</table>
<mat-paginator #paginator [length]="tableOptions.total" [pageIndex]="tableOptions.pageIndex"
    [pageSize]="tableOptions.pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = paginateUsers($event)"
    showFirstLastButtons></mat-paginator>