<div class="container">
    <h3 mat-dialog-title>Add Banner</h3>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="addBannerForm" class="m-b-20">
            <mat-form-field class="full-width-input">
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="bannerCategory" required>
                    <mat-option [value]="category.id" *ngFor="let category of categories"> {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('bannerCategory')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Banner Name" formControlName="bannerName" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('bannerName')}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Banner Type" formControlName="bannerType" required>
            </mat-form-field>
            <mat-error class="error-message">
                {{getErrorMessage('bannerType')}}
            </mat-error>
            <div class="m-b-20">
                <p><u>Image *</u></p>
                <input type="file" accept="image/*" (change)="onFileSelect($event)" required>
            </div>
            <mat-error>
                {{bannerError}}
            </mat-error>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="addBanner()" [disabled]="isProcessing">Add
            Banner</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>