<mat-progress-bar mode="indeterminate" class="loading-progress" *ngIf="isBannersLoading"></mat-progress-bar>

<mat-card-title>Banner</mat-card-title>
<mat-divider></mat-divider>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> S. No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Banner </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
            <img [src]="[element.path]" alt="product" style="width: 50px">
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="25">
            <button mat-button color="accent" class="add-contact m-l-10" (click)="openDialog()"
                matTooltip="Add Banner" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" fxFlex="25">
            <button mat-button color="warn" class="add-contact mat-elevation-z m-l-10"
                (click)="deleteBanner(element.id)" matTooltip="Delete Banner" matTooltipPosition="below">
                <mat-icon role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>