<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->

<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <mat-progress-bar mode="indeterminate" class="m-t-30" *ngIf="isProfileLoading"></mat-progress-bar>
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content *ngFor="let user of userProfile">
                <div class="pro-img">
                    <img src="assets/images/users/1.jpg" width="100" alt="user" class="img-circle">
                </div>
                <h3 class="m-b-0" style="text-transform: uppercase;">{{user.firstName}} {{user.lastName}}</h3>
                <h6 class="m-t-0 ">@{{user.username}}</h6>
                <mat-card-actions>
                    <!-- <button mat-raised-button color="warn">Follow</button> -->
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="50.00%" fxFlex.gt-xs="50.00%" fxFlex="100">
                        <h3 class="m-0 font-light">Email</h3>
                        <small>{{user.email}}</small>
                    </div>
                    <div fxFlex.gt-sm="50.00%" fxFlex.gt-xs="50.00%" fxFlex="100">
                        <h3 class="m-0 font-light">Contact No</h3>
                        <small>{{user.contactNumber}}</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-progress-bar mode="indeterminate" class="m-t-30" *ngIf="isProfileLoading"></mat-progress-bar>
            <mat-tab-group>
                <!-- Tab 1 -->
                <mat-tab label="Profile">
                    <mat-card-content>
                        <mat-card-title>Profile Details</mat-card-title>
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                        <form class="basic-form" [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="m-b-20">
                            <div fxLayout="row wrap">
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="First Name" formControlName="userFirstName">
                                    </mat-form-field>
                                    <mat-error class="error-message">
                                        {{getErrorMessage('userFirstName')}}
                                    </mat-error>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Last Name" formControlName="userLastName">
                                    </mat-form-field>
                                    <mat-error class="error-message">
                                        {{getErrorMessage('userLastName')}}
                                    </mat-error>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="User Name" formControlName="userName">
                                    </mat-form-field>
                                    <mat-error class="error-message">
                                        {{getErrorMessage('userName')}}
                                    </mat-error>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Email" type="email" formControlName="userEmail">
                                    </mat-form-field>
                                    <mat-error class="error-message">
                                        {{getErrorMessage('userEmail')}}
                                    </mat-error>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Contact Number"
                                            formControlName="userContactNumber">
                                    </mat-form-field>
                                    <mat-error class="error-message">
                                        {{getErrorMessage('userContactNumber')}}
                                    </mat-error>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary" [disabled]="isProcessing">Update
                                        Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
                <!-- Tab 2 -->
                <mat-tab label="Change Password">
                    <mat-card-content>
                        <mat-card-title>Change Password</mat-card-title>
                        <mat-error>
                            {{passwordError}}
                        </mat-error>
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                        <form class="basic-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                            <div fxLayout="row wrap">
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Old Password" type="password"
                                            formControlName="userOldPassword">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="New Password" type="password"
                                            formControlName="userNewPassword">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm Password" type="password"
                                            formControlName="userConfirmPassword">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary" [disabled]="isProcessing">Update
                                        password</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>