<div class="full-background-container">
    <mat-card>
        <mat-card-content>
            <mat-card-title class="m-b-15">Email Verification</mat-card-title>
            <mat-divider></mat-divider>
            <mat-progress-bar mode="indeterminate" class="m-t-30" *ngIf="!verificationFailed"></mat-progress-bar>
            <mat-error class="full-width-input" class="m-t-30" *ngIf="verificationFailed">
                Email verification failed.
            </mat-error>
            <hr>
            <a [routerLink]="['/Resend-Email']" *ngIf="verificationFailed"><b>Resend Email</b></a>
        </mat-card-content>
    </mat-card>
</div>