<mat-progress-bar mode="indeterminate" class="loading-progress" *ngIf="isProductsLoading"></mat-progress-bar>

<mat-card-title>Products</mat-card-title>
<mat-divider></mat-divider>
<mat-form-field class="full-width-input">
    <mat-label>Filter By</mat-label>
    <mat-select (selectionChange)="getProducts('category', $event.value)">
        <mat-option value=""> All </mat-option>
        <mat-option [value]="category.id" *ngFor="let category of categories"> {{category.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Search Product (Title)</mat-label>
    <input matInput (keyup)="searchProduct($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> S. No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">
            <img [src]="[element.path]" alt="product" style="width: 50px">
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="salePrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sale </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.salePrice}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="discount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Discount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.discount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalLikes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Likes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalLike}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="25">
            <button mat-button color="accent" class="add-contact m-l-10" (click)="openDialog()"
                matTooltip="Add Product" matTooltipPosition="below">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;" fxFlex="25">
            <button mat-button color="primary" class="add-contact mat-elevation-z m-l-10"
                (click)="editViewProduct('view', element.id)" matTooltip="View Product" matTooltipPosition="below">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    search</mat-icon>
            </button>
            <button mat-button color="accent" class="add-contact mat-elevation-z m-l-10"
                (click)="editViewProduct('edit', element.id)" matTooltip="Edit Product" matTooltipPosition="below">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    edit</mat-icon>
            </button>
            <button mat-button color="warn" class="add-contact mat-elevation-z m-l-10"
                (click)="deleteProduct(element.id)" matTooltip="Delete Product" matTooltipPosition="below">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
</table>
<mat-paginator #paginator [length]="tableOptions.total" [pageIndex]="tableOptions.pageIndex"
    [pageSize]="tableOptions.pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = paginateProducts($event)"
    showFirstLastButtons></mat-paginator>