/* You can add global styles to this file, and also import other style files */
.loading-progress {
  margin: -15px auto 15px;
}

.action-button {
  position: absolute;
  top: 40px;
  right: 10px;
}

.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  flex-wrap: wrap;
  word-break: break-all;
  padding: 10px;
}

[hidden] {
  display: none !important;
}

.image-favorite {
  align-self: flex-end;
  position: absolute !important;
  left: 0;
  top: -20px;
}

.image-delete {
  align-self: flex-end;
  position: absolute !important;
  right: 0;
  top: -20px;
}

.cdk-overlay-pane {
  max-width: 600px !important;
}

.error-message {
  font-size: 12px;
  margin-top: -15px;
}
.mat-dialog-container .container {
  width: 500px !important;
}
@media (max-width: 680px) {
  .mat-dialog-container .container {
    width: 400px !important;
  }
}
@media (max-width: 480px) {
  .mat-dialog-container .container {
    width: 300px !important;
  }
}

.image-container{
  position: relative;
  padding: 0px 5px;
  margin-top: 10px;
}